@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

@import url(reset.css);

body {
	background-color: #FFF7AB;
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 18px;
	color: #FFF;
	padding: 80px;
}

p {
	margin-bottom: 20px;
}

img {
	margin-bottom: 10px;
	margin-left: 10px;
	width: 50%;
	float: right;
}

.title {
	background-color: #9A73D8;
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 40px;
}

.name {
	font-family: 'Amatic SC', sans-serif;
	font-size: 300%;
	padding: 20px;
}

.big-name {
	font-family: 'Amatic SC', sans-serif;
	font-size: 800%;
	color: #9A73D8;
	background-color: #FFF;
	text-align: center;
}


nav ul {
	margin: 0 auto;
	margin-bottom: 10px;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	margin-right: 10px;
	color: #FFF;
}

a:link,
a:visited {
	text-decoration: none;
	color: #FFF;
}

a:hover {
	background-color: #FFF7AB;
	color: #9A73D0;
}

.content {
	background-color: #634F80;
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	margin-top: 5px;
	padding-bottom: 100px;
}

h2 {
	font-size: 200%;
}

.small-logo {
	float: left;
	width: 20%;
}

.type, h3 {
	background-color: #461D7F;
	font-size: 150%;
}

.choices {
	margin-left: 30px;
}

.subchoices {
	margin-left: 60px;
}

.desc {
	font-size: 85%;
	margin-left: 90px;
	color: #B98DF2;
}

em {
	color: #FFF7AB;
	text-transform: uppercase;
	font-size: 125%;
}

.about {
	text-indent: 60px;
}

header {
	text-align: center;
}

footer {
	background-image: url(../img/logo.png);
	background-size: contain;
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	margin-top: 5px;
	color: #000;
}

.bottom {
	opacity: 0.5;
	background-color: #FFF;
}

.bottom:hover {
	opacity: 1;
}